/* Fixes for bootstrap styles */

.navbar-text {
	margin-top: 16px;
	margin-bottom: 15px;
}

.navbar-default .navbar-brand {
	color: #333333;
}

.navbar-inverse .navbar-brand {
	color: #ffffff;
}

.jumbotron .alert {
	font-size: 17px;
}

.navbar-form {
	margin-top: 7px;
}

.thumbnail > a {
	display: block;
	text-decoration: none;
}

.thumbnail > img,
.thumbnail > a > img {
	display: block;
	height: auto;
	width: 100%;
}

.progress {
	line-height: 24px;
}

.breadcrumb > .active > a {
	color: #999999;
}

.dropdown-menu > li > span {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #999999;
	white-space: nowrap;
}

.dropdown-menu > .active > span {
	text-decoration: none;
	background-color: #d9edf7;
	outline: 0;
}

.page-header {
	margin-top: 0;
}

.page-header > h1 {
	margin: 0;
}

/* Custom styles */

.meetup-body-guest {
	border-top: 111px solid #f1f1f1;
}

.meetup-navbar-icons {
	margin-top: 12px;
	margin-bottom: 11px;
	float: left;
}

.meetup-navbar-before-icons {
	margin-right: 15px;
}

.meetup-jumbotron {
	margin-bottom: 0;
	padding-top: 15px;
	padding-bottom: 15px;
}

.meetup-jumbotron h1 {
	margin-top: 0;
}

.meetup-jumbotron-sm {
	margin-bottom: 0;
}

.meetup-jumbotron-sm h1,
.meetup-jumbotron-sm h2 {
	margin: 0;
}

.meetup-block {
	margin-bottom: 24px;
}

.meetup-block-sm {
	margin-bottom: 8px;
}

.meetup-block-last {
	margin-bottom: 0;
}

.meetup-icon-left {
	margin-right: 0.25em;
}

.meetup-icon-right {
	margin-left: 0.25em;
}

.meetup-aspect-2-1 {
	display: block;
	position: relative;
	width: 100%;
	padding-top: 50%;
}

.meetup-aspect-2-1 > span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -0.5em;
	margin-left: -0.5em;
	font-size: 64px;
}

.meetup-events .thumbnail {
	margin-bottom: 24px;
}

.meetup-events h4 {
	height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.meetup-events-description {
	height: 24px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.meetup-events-link {
	margin-top: 12px;
	margin-bottom: 12px;
	height: 24px;
	line-height: 31px;
	text-align: center;
}

.meetup-events-buttons {
	height: 43px;
}

.meetup-post {
	padding: 10px;
	margin-top: 5px;
}

.meetup-post-upcoming {
	background-color: #f2dede;
	border: 1px solid #eed3d7;
	border-radius: 4px;
}

.meetup-post-done {
	background-color: #dff0d8;
	border: 1px solid #d6e9c6;
	border-radius: 4px;
}

.meetup-post-thumbnail {
	width: 64px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size: 32px;
	top: 0;
}

.meetup-post > a {
	text-decoration: none;
}

.meetup-icon-thumbnail {
	display: inline-block;
	height: auto;
	max-width: 100%;
	background-color: #f9f9f9;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.meetup-post-title {
	margin-bottom: 10px;
}

.meetup-post-title > a {
	vertical-align: -3px;
}

.meetup-post-title > .label {
	vertical-align: 0;
}

.meetup-post-title > .label span.glyphicon {
	vertical-align: -2px;
}

.meetup-post .progress {
	margin-bottom: 10px;
}

.meetup-vote {
	float: left;
	margin-right: 0.75em;
}

.meetup-vote .form-control {
	width: auto;
	min-width: 2em;
}

.meetup-vote .input-group-addon {
	width: auto;
	min-width: 2.5em;
}

.meetup-vote-text {
	padding: 5px 0;
	overflow: hidden;
}

.meetup-vote-text > small {
	display: block;
	color: #999999;
}

.meetup-last-comments em {
	color: #cccccc;
	font-style: normal;
}

.meetup-footer-nav {
	padding-bottom: 24px;
}

.meetup-footer-nav > li > a,
.meetup-footer-nav > li > a:hover,
.meetup-footer-nav > li > a:focus {
	background: transparent;
	padding-left: 0;
	padding-right: 30px;
}

.meetup-footer-nav > li > a:hover,
.meetup-footer-nav > li > a:focus {
	text-decoration: underline;
}

.meetup-footer-nav > li.pull-right > a {
	padding-left: 30px;
	padding-right: 0;
}

.meetup-navcrumb > li + li:before {
	content: "\00b7\00a0";
}

@media (max-width: 767px) {
	.meetup-pagination > li > a,
	.meetup-pagination > li > span {
		padding: 5px 8px; /* was: 5px 10px, but not looking good on iphone */
		font-size: 15px;
	}

	.meetup-pagination > li:first-child > a,
	.meetup-pagination > li:first-child > span {
		border-bottom-left-radius: 3px;
		border-top-left-radius: 3px;
	}

	.meetup-pagination > li:last-child > a,
	.meetup-pagination > li:last-child > span {
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	.meetup-control-sm {
		margin-bottom: 15px;
	}

	.meetup-navcrumb > .dropdown > .dropdown-menu {
		right: 0;
		left: auto;
	}
}

@media (min-width: 768px) {
	.meetup-body-guest {
		border-top: 56px solid #f1f1f1;
	}

	.meetup-jumbotron {
		padding-top: 24px;
		padding-bottom: 24px;
	}

	.meetup-navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}

	.meetup-navbar-collapse .navbar-form.navbar-right {
		padding-right: 0;
	}

	.meetup-navbar-brand {
		display: none;
	}

	.meetup-post-thumbnail {
		width: 96px;
		height: 96px;
		line-height: 96px;
		font-size: 48px;
	}
}

/* Fixes for android browser */

.meetup-vote > span.input-group-addon {
	height: auto !important;
}
